@model Customer

<h2>@Model.racername Information</h2>

<table class="table">

    <tr>
        <th>ProSkill</th>
        <td>@Model.proskill</td>
    </tr>

    <tr>
        <th>Loyalty Points</th>
        <td>@Model.loyaltypoints</td>
    </tr>

    <tr>
        <th>Fastest Laptime</th>
        <td>@Model.fastestlaptime</td>
    </tr>


    <tr>
        <th>Average Laptime</th>
        <td>@Model.averagelaptime</td>
    </tr>
</table>